<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
    </head>
    <body>
        <div class = "container">
            <h1>A Library of Sad Dead Men</h1>

            <h3>Librarian sign-in</h3>
            <a href="/librarian">Go to librarian portal.</a>

            <h3>Patron sign-in</h3>
            {% for patron in patrons %}
            <a href="/patrons/{{patron.getId}}"><p>{{patron.getName}}</p></a>
            {%endfor%}

            <h3>Add a new patron:</h3>
            <form action="/add_patron" method="post">
                <label for="add-patron">Enter your name:</label>
                <input id="add-patron" type="text" name="name" placeholder="Enter first and last name here...">
                <button type="submit" name="button">Add patron</button>
            </form>
        </div>
    </body>
</html>
